<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Smart Verify</title>
</head>
<body>
    <h1 id="maintitle">Smart Verify</h1>
    <div class="preview">
        <img id="imagePreview" src="" alt="Image Preview" style="display: none;">
    </div>
    <div class="input-buttons">
        <input type="file" accept="image/*" id="upload" hidden>
        <label for="upload">Image Upload</label>
    </div>
    <script src="script.js"></script>
</body>
</html>
